<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="js/tailwind.js"></script>
		<script src="js/vue.global.js"></script>
		<title>Vue JS Practice field</title>
	</head>
	<body>
		<div id="app">
			<div class="text-5xl text-center bg-lime-600 p-4">
				<h2>VueJS::Basic - Practice</h2>
			</div>
			<div class="flex flex-row">
				<div class="basis-1/12"></div>
				<div class="basis-10/12 col-span-6 text-center text-3xl p-4 rounded-sm bg-gray-300 min-h-screen">
					<!-- Methods -->
					<div class="bg-green-300 py-2 rounded-lg my-3">
						<p>Lesson - 8: JSON Object Rendering</p>
					</div>
					<div class="bg-white my-4 p-3 rounded-lg text-center">
						<p>List/JSON Rendering: v-for loop : Add Item : Delete Item</p>
						<br />
						<div class="text-base">
							<div v-if="validmsg != ''" class="bg-yellow-200 pt-2 pb-3 my-3 rounded-md">
								<p>{{ validmsg }}</p>
							</div>
							<p>Add new skill</p>
							<input class="border border-red-300 px-3 py-1 mx-2" type="text" v-model="newSkill.name" placeholder="Enter your skill" />
							<input class="border border-red-300 px-3 py-1" type="text" v-model="newSkill.experience" placeholder="Enter your experience" />
							<button @click="addNewSkill" class="bg-green-700 text-slate-50 px-4 py-2 mx-3 rounded-lg">+ New Skill</button>
						</div>

						<div class="pb-3 my-3 min-h-60 rounded-md border border-red-500">
							<p>My skills (Experience in year) :</p>
							<br />
							<ul>
								<li @click="removeSkill(i)" v-for="(skill,i) in skills" :key="skill.name">
									<p>
										{{ i+1 }}. {{ skill.name }} ({{ skill.experience }})
										<br />

										<input @click.stop class="border border-red-300 px-3 py-1 text-sm" type="text" placeholder="Remark" />
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="basis-1/12"></div>
			</div>
		</div>

		<script src="js/lesson8.js"></script>
	</body>
</html>
